<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PrimaryCurrencySource" value="https://restcountries.com/v3.1/all" />
    <add key="SecondaryCurrencySource" value="https://api.apilayer.com/exchangerates_data/symbols" />
    <add key="EnableCurrencyCache" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="CurrencyExchangeAccountingEntities" connectionString="metadata=res://*/Data.Models.CurrencyExchangeAccountingModel.csdl|res://*/Data.Models.CurrencyExchangeAccountingModel.ssdl|res://*/Data.Models.CurrencyExchangeAccountingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=CurrencyExchangeAccounting;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>