<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bogus" version="35.6.2" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="EntityFramework.ru" version="6.2.0" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="4.7.25104.5739" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
</packages>